:root {
  --clr-dark: #070a13;
  --clr-light: #3c00a0;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
textarea,
input,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.btn-DL-mode {
  max-width: 100px;
  max-height: 100px;
  background-color: transparent;
  position: absolute;
  top: 4%;
  left: 90%;
  border: 0;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  display: flex;
  gap: 0.8rem;
  align-items: center;
  font-weight: 600;
  padding: 1rem;
  font-size: 1rem;
}
.btn-DL-mode i {
  font-size: 2rem;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(7, 7, 51, 0.8), rgba(133, 133, 168, 0.8)), url(Inicio.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
.container .formulario {
  width: 90%;
  max-width: 440px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: #fff;
  padding: 50px 60px 70px;
  border-radius: 1rem;
}
.container .formulario h1 {
  font-size: 30px;
  margin-bottom: 60px;
  position: relative;
  color: #3c00a0;
}
.container .formulario h1::after {
  content: "";
  width: 35px;
  height: 4px;
  border-radius: 3px;
  background: #3c00a0;
  position: absolute;
  left: 50%;
  bottom: -12px;
  transform: translateX(-50%);
}
.container .formulario form .input-group {
  height: 380px;
}
.container .formulario form .input-group .input-field {
  background: #eaeaea;
  margin: 15px 0;
  border-radius: 3px;
  display: flex;
  align-items: center;
  max-height: 65px;
  transition: max-height 0.5s;
  overflow: hidden;
}
.container .formulario form .input-group .input-field i {
  margin-left: 15px;
  color: #998;
}
.container .formulario form .input-group input {
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  padding: 18px 15px;
}
.container .formulario form .input-group p {
  text-align: center;
  font-size: 12px;
}
.container .formulario form .input-group p a {
  text-decoration: none;
  color: #3c00a0;
}
.container .formulario form .btn-field {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container .formulario form .btn-field button {
  flex-basis: 48%;
  background: #3c00a0;
  color: #fff;
  height: 40px;
  border-radius: 18px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background 1s;
}
.container .formulario form .btn-field button.disabled {
  background: #eaeaea;
  color: #555;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: #3c00a0;
}
.wrapper .disabled {
  display: none;
}
.wrapper p {
  font-size: 1rem;
}
.wrapper aside {
  padding: 2rem;
  color: #fff;
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper aside .menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.wrapper aside .menu .btn-menu {
  border: 0;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: 600;
  padding: 1rem;
  font-size: 0.8rem;
}
.wrapper aside .menu .active {
  background-color: #fff;
  color: #3c00a0;
  width: 100%;
  border-radius: 1rem;
}
.wrapper aside .menu .btn-inscripciones-carrera {
  margin-top: 2rem;
}
.wrapper aside .menu .btn-inscripciones-carrera .numerito-carrera {
  background-color: #fff;
  color: #3c00a0;
  padding: 0.15rem 0.25rem;
  border-radius: 0.25rem;
}
.wrapper aside .menu .btn-inscripciones-carrera .active .numerito-carrera {
  background-color: #3c00a0;
  color: #fff;
}
.wrapper aside .menu .btn-inscripciones-posgrado .numerito-posgrado {
  background-color: #fff;
  color: #3c00a0;
  padding: 0.15rem 0.25rem;
  border-radius: 0.25rem;
}
.wrapper aside .menu .btn-inscripciones-posgrado .active .numerito-posgrado {
  background-color: #3c00a0;
  color: #fff;
}
.wrapper aside .texto-footer {
  color: #a281d8;
  font-size: 0.85rem;
}
.wrapper main {
  background-color: #fff;
  margin: 1rem;
  border-radius: 2rem;
  padding: 3rem;
}
.wrapper main .titulo-principal-carreras {
  color: #3c00a0;
  margin-bottom: 2rem;
}
.wrapper main .titulo-principal-posgrados {
  color: #3c00a0;
  margin-bottom: 2rem;
}
.wrapper main .contenedor-carreras {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin-bottom: 4rem;
}
.wrapper main .contenedor-carreras .carrera-imagen {
  max-width: 100%;
  border-radius: 1rem;
}
.wrapper main .contenedor-carreras .carrera-detalles {
  background-color: #3c00a0;
  color: #fff;
  padding: 0.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.wrapper main .contenedor-carreras .carrera-detalles .carrera-titulo {
  font-size: 1rem;
}
.wrapper main .contenedor-carreras .carrera-detalles .carrera-seleccionar {
  border: 0;
  background-color: #fff;
  color: #3c00a0;
  padding: 0.5rem;
  border-radius: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid #fff;
  transition: background-color 0.2s, color 0.2s;
}
.wrapper main .contenedor-carreras .carrera-detalles .carrera-seleccionar:hover {
  background-color: #3c00a0;
  color: #fff;
}
.wrapper main .contenedor-posgrados {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
.wrapper main .contenedor-posgrados .posgrado-imagen {
  max-width: 100%;
  border-radius: 1rem;
}
.wrapper main .contenedor-posgrados .posgrado-detalles {
  background-color: #3c00a0;
  color: #fff;
  padding: 0.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.wrapper main .contenedor-posgrados .posgrado-detalles .posgrado-titulo {
  font-size: 1rem;
}
.wrapper main .contenedor-posgrados .posgrado-detalles .posgrado-seleccionar {
  border: 0;
  background-color: #fff;
  color: #3c00a0;
  padding: 0.5rem;
  border-radius: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid #fff;
  transition: background-color 0.2s, color 0.2s;
}
.wrapper main .contenedor-posgrados .posgrado-detalles .posgrado-seleccionar:hover {
  background-color: #3c00a0;
  color: #fff;
}

.wrapper main h2 {
  color: #3c00a0;
  margin-bottom: 2rem;
}
.wrapper main .disabled {
  display: none;
}
.wrapper main .contenedor-inscripciones {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.wrapper main .contenedor-inscripciones .disabled {
  display: none;
}
.wrapper main .contenedor-inscripciones .sin_inscripciones {
  color: #3c00a0;
}
.wrapper main .contenedor-inscripciones .con_inscripciones {
  color: #3c00a0;
}
.wrapper main .contenedor-inscripciones .inscripciones-seleccion {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.wrapper main .contenedor-inscripciones .inscripciones-seleccion .disabled {
  display: none;
}
.wrapper main .contenedor-inscripciones .inscripciones-seleccion .inscripcion-seleccion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(207, 200, 200);
  color: #3c00a0;
  padding: 0.5rem;
  border-radius: 1rem;
  padding-right: 1.5rem;
}
.wrapper main .contenedor-inscripciones .inscripciones-seleccion .inscripcion-seleccion .inscripcion-seleccion-imagen {
  width: 4rem;
  border-radius: 1rem;
}
.wrapper main .contenedor-inscripciones .inscripciones-seleccion .inscripcion-seleccion small {
  font-size: 0.75rem;
}
.wrapper main .contenedor-inscripciones .inscripciones-seleccion .inscripcion-seleccion .inscripcion-seleccion-titulo {
  width: 16rem;
  justify-content: left;
}
.wrapper main .contenedor-inscripciones .inscripciones-seleccion .inscripcion-seleccion .inscripcion-seleccion-eliminar {
  border: 0;
  background-color: transparent;
  color: rgb(231, 3, 3);
  cursor: pointer;
}
.wrapper main .contenedor-inscripciones .inscripciones-seleccion-acciones {
  display: flex;
  justify-content: space-between;
}
.wrapper main .contenedor-inscripciones .inscripciones-seleccion-acciones .disabled {
  display: none;
}
.wrapper main .contenedor-inscripciones .inscripciones-seleccion-acciones .inscripciones-seleccion-acciones-izq .inscripciones-seleccion-acciones-eliminar {
  border: 0;
  background-color: rgb(207, 200, 200);
  color: #3c00a0;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1rem;
  border-radius: 1rem;
}
.wrapper main .contenedor-inscripciones .inscripciones-seleccion-acciones .inscripciones-seleccion-acciones-der {
  display: flex;
}
.wrapper main .contenedor-inscripciones .inscripciones-seleccion-acciones .inscripciones-seleccion-acciones-der .inscripciones-seleccion-acciones-total {
  display: flex;
  background-color: rgb(207, 200, 200);
  color: #3c00a0;
  text-transform: uppercase;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.wrapper main .contenedor-inscripciones .inscripciones-seleccion-acciones .inscripciones-seleccion-acciones-der .inscripciones-seleccion-acciones-pagar {
  border: 0;
  background-color: #3c00a0;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.wrapper main h2 {
  color: #3c00a0;
  margin-bottom: 2rem;
}
.wrapper main .disabled {
  display: none;
}
.wrapper main .contenedor-inscripciones {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.wrapper main .contenedor-inscripciones .disabled {
  display: none;
}
.wrapper main .contenedor-inscripciones .sin_inscripciones {
  color: #3c00a0;
}
.wrapper main .contenedor-inscripciones .con_inscripciones {
  color: #3c00a0;
}
.wrapper main .contenedor-inscripciones .inscripciones-posgrados {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.wrapper main .contenedor-inscripciones .inscripciones-posgrados .disabled {
  display: none;
}
.wrapper main .contenedor-inscripciones .inscripciones-posgrados .inscripcion-posgrados {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(207, 200, 200);
  color: #3c00a0;
  padding: 0.5rem;
  border-radius: 1rem;
  padding-right: 1.5rem;
}
.wrapper main .contenedor-inscripciones .inscripciones-posgrados .inscripcion-posgrados .inscripcion-posgrados-imagen {
  width: 4rem;
  border-radius: 1rem;
}
.wrapper main .contenedor-inscripciones .inscripciones-posgrados .inscripcion-posgrados small {
  font-size: 0.75rem;
}
.wrapper main .contenedor-inscripciones .inscripciones-posgrados .inscripcion-posgrados .inscripcion-posgrados-titulo {
  width: 16rem;
  justify-content: left;
}
.wrapper main .contenedor-inscripciones .inscripciones-posgrados .inscripcion-posgrados .inscripcion-posgrados-eliminar {
  border: 0;
  background-color: transparent;
  color: rgb(231, 3, 3);
  cursor: pointer;
}
.wrapper main .contenedor-inscripciones .inscripciones-posgrados-acciones {
  display: flex;
  justify-content: space-between;
}
.wrapper main .contenedor-inscripciones .inscripciones-posgrados-acciones .disabled {
  display: none;
}
.wrapper main .contenedor-inscripciones .inscripciones-posgrados-acciones .inscripciones-posgrados-acciones-izq .inscripciones-posgrados-acciones-eliminar {
  border: 0;
  background-color: rgb(207, 200, 200);
  color: #3c00a0;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1rem;
  border-radius: 1rem;
}
.wrapper main .contenedor-inscripciones .inscripciones-posgrados-acciones .inscripciones-posgrados-acciones-der {
  display: flex;
}
.wrapper main .contenedor-inscripciones .inscripciones-posgrados-acciones .inscripciones-posgrados-acciones-der .inscripciones-posgrados-acciones-total {
  display: flex;
  background-color: rgb(207, 200, 200);
  color: #3c00a0;
  text-transform: uppercase;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.wrapper main .contenedor-inscripciones .inscripciones-posgrados-acciones .inscripciones-posgrados-acciones-der .inscripciones-posgrados-acciones-pagar {
  border: 0;
  background-color: #3c00a0;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}/*# sourceMappingURL=style.css.map */