.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: #3c00a0;

    aside {
        padding: 2rem;
        color: #fff;
        position: sticky;
        top: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .menu {
            display: flex;
            flex-direction: column;
            gap: .5rem;

            .btn-menu {
                border: 0;
                background-color: transparent;
                color: #fff;
                font-size: .65rem;
                cursor: pointer;
                display: flex;
                gap: 1rem;
                align-items: center;
                font-weight: 600;
                padding: 1rem;
                font-size: .75rem;

            }

            .active {
                background-color: #fff;
                color: #3c00a0;
                width: 100%;
                border-radius: 1rem;
            }

            .btn-inscripciones {
                margin-top: 2rem;

                .numerito {
                    background-color: #fff;
                    color: #3c00a0;
                    padding: 0.15rem .25rem;
                    border-radius: 0.25rem;
                }

                .active {
                    .numerito {
                        background-color: #3c00a0;
                        color: #fff;
                    }
                }
            }
        }

        .texto-footer {
            color: #a281d8;
            font-size: 0.85rem;
        }
    }

    main {
        background-color: #fff;
        margin: 1rem;
        border-radius: 2rem;
        padding: 3rem;

        .titulo-principal {
            color: #3c00a0;
            margin-bottom: 2rem;
        }

        .contenedor-carreras {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 1rem;
            margin-bottom: 4rem;

            .carrera-imagen {
                max-width: 100%;
                border-radius: 1rem;
            }

            .carrera-detalles {
                background-color: #3c00a0;
                color: #fff;
                padding: .5rem;
                border-radius: 1rem;
                display: flex;
                flex-direction: column;
                gap: .25rem;

                .carrera-titulo {
                    font-size: 1rem;
                }

                .carrera-ingresar {
                    border: 0;
                    background-color: #fff;
                    color: #3c00a0;
                    padding: .5rem;
                    border-radius: 1rem;
                    text-transform: uppercase;
                    cursor: pointer;
                    border: 2px solid #fff;
                    transition: background-color .2s, color .2s;

                    &:hover {
                        background-color: #3c00a0;
                        color: #fff;
                    }
                }
            }
        }

        .contenedor-posgrados {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 1rem;

            .posgrado-imagen {
                max-width: 100%;
                border-radius: 1rem;
            }

            .posgrado-detalles {
                background-color: #3c00a0;
                color: #fff;
                padding: .5rem;
                border-radius: 1rem;
                display: flex;
                flex-direction: column;
                gap: .25rem;

                .posgrado-titulo {
                    font-size: 1rem;
                }

                .posgrado-ingresar {
                    border: 0;
                    background-color: #fff;
                    color: #3c00a0;
                    padding: .5rem;
                    border-radius: 1rem;
                    text-transform: uppercase;
                    cursor: pointer;
                    border: 2px solid #fff;
                    transition: background-color .2s, color .2s;

                    &:hover {
                        background-color: #3c00a0;
                        color: #fff;
                    }
                }
            }
        }
    }

}